
.swiper {
    width: 100%;
    height: 100% !important;

    // border: 1px solid;
    .page1 {
        width: 100%;
        min-height: 100%;
        padding: 10px;
        background-image: url("../../../assets/imgs/bg-00.png");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        object-fit: cover;

        display: flex;
        align-items: end;
        justify-content: center;

        .container {
            font-size: 1.5rem;
            color: white;
            width: 80%;
            height: 150px;
            margin-bottom: 130px;

            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;



            .animar1 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 4s steps(10, end), blink-caret 0.5s step-end infinite;

            }

            .animar2 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;

            }

            .animar3 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 8s steps(40, end), blink-caret 0.5s step-end infinite;

            }



        }


    }

    .page2 {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/imgs/bg-03.png");
        background-color: #cccccc;
        background-repeat: space;
        background-size: 550px 100%;
        background-position: center;
        object-fit: contain;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
            font-size: 1rem;
            width: 100%;
            height: 100%;
            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 0px 25px;

            h3 {
                text-align: center;
                font-size: 3.0rem !important;
                line-height: 1.0rem;
            }
            h5{
                font-size: 1.5rem !important;
                line-height: 1rem;
            }

            p {
                font-size: 1rem;
                text-align: start;
                text-justify: inter-word;
                line-height: 1.1rem;
            }

            .bg-text{
                padding: 10px;
            }

            .imagem{
                width: 150px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 100%;
                }
            }
        }


    }

    .page3 {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/imgs/bg-03.png");
        background-color: #cccccc;
        background-repeat: space;
        background-size: 550px 100%;
        background-position: center;
        object-fit: cover;
        letter-spacing: 5px;
        display: flex;
        align-items: end;
        justify-content: center;

        .container {
            font-size: 1.5rem;
            color: black;
            width: 100%;
            height: 100%;
            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;

            .header {
                // margin-top: 25px;
                width: 100%;

                .titulo {
                    font-size: 1.6rem;
                    margin: 0px;
                    padding: 0px;
                    margin-top: 10px;

                }

                .subtitulo {
                    font-size: 3.7rem !important;
                    line-height: 0px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .imagem {
                img {
                    margin-top: 20px;
                    height: 180px;
                }
            }

            .quando {
                width: 100%;
                // height: 20vh;

                p {
                    padding: 0px;
                    margin: 0px;
                    font-size: 0.8rem !important;
                }

                h3 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 1.6rem !important;
                }
            }

            .onde {
                width: 100%;
                height: 50vh !important;
                letter-spacing: 2px;

                p {
                    padding: 0px;
                    margin: 5px;
                    font-size: 0.7rem;
                }

                h3 {
                    padding: 0px;
                    margin: 0px;
                    font-size: 1.3rem !important;
                }

                iframe {
                    width: 290px;
                    height: 150px;
                }

            }



            .animar1 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 4s steps(10, end), blink-caret 0.5s step-end infinite;

            }

            .animar2 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;

            }

            .animar3 {
                overflow: hidden;
                letter-spacing: 2px;
                border-right: 1px solid #000;
                white-space: nowrap;
                animation: typing 8s steps(40, end), blink-caret 0.5s step-end infinite;

            }



        }


    }

    .page4 {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/imgs/bg-03.png");
        background-color: #cccccc;
        background-repeat: space;
        background-size: 750px 100%;
        background-position: center;
        object-fit: cover;
        letter-spacing: 5px;
        padding: 10px;

        .container {
            font-size: 1.5rem;
            color: black;
            width: 100%;
            height: 100%;
            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .header {
                // margin-top: 25px;
                width: 100%;

                .titulo {
                    font-size: 1.6rem;
                    margin: 0px;
                    padding: 0px;
                    margin-top: 10px;

                }

                .subtitulo {
                    font-size: 3.7rem !important;
                    line-height: 0px;
                    margin: 0px;
                    padding: 0px;
                }
                padding: 10px;
            }
            .cont-text{
                letter-spacing: 2px;
                text-align: start;
                line-height: 1.2rem;
                padding: 10px;

                

            }
            .cont-pix{
                height: auto;
                h4{
                    font-size: 2rem !important;
                }
                .titular{
                    font-size: 0.9rem;
                    letter-spacing: 2px;
                }
                .banco{
                    font-size: 0.9rem;
                    letter-spacing: 2px;
                }
            }

        }

    }

    .page5 {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/imgs/bg-03.png");
        background-color: #cccccc;
        background-repeat: space;
        background-size: 750px 100%;
        background-position: center;
        object-fit: cover;
        letter-spacing: 2px;

        .container {
            font-size: 1.5rem;
            color: black;
            width: 98%;
            height: 100%;
            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h4{
                font-size: 1.2rem !important;
            }
            .imagem{
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
                img{
                    height: 100%;
                }
            }

            .imagem2{
                height: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
                img{
                    height: 100%;

                }
            }


        }

    }

    .page6 {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/imgs/bg-03.png");
        background-color: #cccccc;
        background-repeat: space;
        background-size: 750px 100%;
        background-position: center;
        object-fit: cover;
        letter-spacing: 4px;

        .container {
            font-size: 1.5rem;
            color: black;
            width: 98%;
            height: 100%;
            // border: 2px solid;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .header {
                // margin-top: 25px;
                width: 100%;
                height: 100px;

                .titulo {
                    font-size: 1.6rem;
                    margin: 0px;
                    padding: 0px;
                    margin-top: 10px;

                }

                .subtitulo {
                    font-size: 3.5rem !important;
                    line-height: 10px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .img-slider{
                width: 100%;
            }

            .vers{
                margin: 20px;
            }

        }

    }
}

@keyframes typing {
    from {
        width: 0;
        /* Inicia com largura zero */
    }

    to {
        width: 100%;
        /* Termina com largura total */
    }

    /* Adicionando uma regra para iniciar a animação blink-caret após a animação typing */
    /* e adicionando um atraso para que o cursor pisque e desapareça apenas no final */
    100% {
        animation: blink-caret 0.5s step-end 1s infinite;
    }
}

/* Definindo a animação do cursor piscante */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
        /* Inicia e termina com o cursor invisível */
    }

    50% {
        border-color: #0c0c0ca8;
        /* Cursor visível no meio da animação */
    }

}

