<div class="row justify-content-center m-0 p-0 ">
    <div  class="col-12 p-0 m-0 ">
        <swiper class="swiper" (swiper)="getSwiper($event)" [pagination]="false" [loop]="false" [autoplay]="false" [autoHeight]="false">
            <ng-template swiperSlide>
                <div class="page1 p-0 m-0">
                    <div class="container">
                        <div>
                            <p class="font2 m-0 p-0 animar1">Sejam Bem vindos </p>
                            <p class="font2 m-0 p-2 animar2 text-uppercase">{{user?.nomes}}</p>
                        </div>
                        <div>
                            <p class="animar3">Arraste pro lado...</p>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="page2">
                    <div class="container">
                        <div class="imagem">
                            <img src="../../../assets/imgs/topo.png" alt="">
                        </div>

                        <div class="bg-text">
                            <p class="m-0 p-0 color-pri">
                                É com muita alegria e emoção que nós, Paula e Bruno, convidamos vocês
                            </p>
                            <h3  class="m-0 p-3 color-sec font3">
                                {{user?.nomes | removeAcentuacao}}
                            </h3>
                            <p class="color-pri">
                                para celebrar conosco o momento mais especial de nossas vidas: 
                            </p>
                            <h5 class="color-sec font2 p-1">o nosso casamento!</h5>

                            <p class="color-pri">Nossos corações estarão repletos de amor e felicidade enquanto trocamos nossos votos e unimos
                                nossas vidas para sempre. Será uma cerimônia íntima e significativa, repleta de amor,
                                cumplicidade e promessas de um futuro cheio de aventuras compartilhadas.</p>
                            <p class="color-pri">Sua amizade e apoio são muito importantes para nós, e não há nada mais significativo do que
                                ter aqueles que amamos ao nosso lado enquanto damos esse passo tão importante em nossas
                                vidas.</p>
                                <p class="color-sec font2 text-center">Todos os Detalhes nas próximas páginas...</p>
                        </div>

                    </div>

                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="page3">
                    <div class="container">
                        <div class="header">
                            <p class="titulo m-0 p-0 color-pri">SOBRE O </p>
                            <p class="subtitulo font3 m-0 p-0 color-sec">casamento</p>
                        </div>

                        <div class="imagem">
                            <img src="../../../assets/imgs/sobre-00.png" alt="">
                        </div>
                        <div class="quando">
                            <p class="color-pri">QUANDO ?</p>
                            <h3 class="color-sec">18.08.23</h3>
                            <p class="color-pri">QUE HORAS?</p>
                            <h3 class="color-sec">18:30h</h3>
                            <p class="color-pri">TIPO DE TRAJE?</p>
                            <h3 class="color-sec">Esporte Fino</h3>
                        </div>
                        <div class="onde p-2">
                            <p class="color-pri">ONDE ?</p>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15943.544577685172!2d-44.2807084!3d-2.5439772!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f68fb0a4982499%3A0x9b36761f4edb23d6!2sDivinus%20Eventos!5e0!3m2!1spt-BR!2sbr!4v1688874089828!5m2!1spt-BR!2sbr"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                            <h3 class="font2 color-sec">Divinus Eventos</h3>
                            <p class="color-sec">Rua da Liberdade nº50 - Bairro de Fátima (Atrás do Hospital Guarás)
                            </p>
                            <button (click)="goToLink('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15943.544577685172!2d-44.2807084!3d-2.5439772!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f68fb0a4982499%3A0x9b36761f4edb23d6!2sDivinus%20Eventos!5e0!3m2!1spt-BR!2sbr!4v1688874089828!5m2!1spt-BR!2sbr')" type="button" class="btn btn-outline-success w-100 m-2">Abrir no
                                Maps</button>
                            <div>
                                <p class="color-sec font2 animar3" >Arraste pro lado...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="page4">
                    <div class="container">
                        <div class="header">
                            <p class="titulo m-0 p-0 color-pri">SOBRE OS </p>
                            <p class="subtitulo font3 m-0 p-1 color-sec">presentes</p>
                        </div>

                        <div class="cont-text color-pri">
                            <p>
                                Sabemos que cada um tem sua forma única de expressar amor e carinho, e
                                valorizamos qualquer gesto de apoio que decidam fazer. Considerando a
                                correria dos preparativos e a praticidade que o Pix oferece, acreditamos que essa
                                alternativa pode tornar a experiência mais conveniente tanto para vocês quanto para nós.
                            </p>
                            <p>
                                Lembrando, o que mais desejamos é ter a
                                presença e o carinho de cada um de vocês em nosso casamento.
                            </p>

                        </div>
                        <div class="cont-pix">
                            <p class="color-sec font2">CHAVE PIX</p>
                            <h4  class="color-pri">(98) 97027-8027</h4>
                            <p class="color-sec font2 titular m-0 pt-2">KELVIN BRUNO MONTEIRO</p>
                            <p class="color-sec font2 banco m-0 p-0 mb-2 ">NUBANK PAGAMENTOS</p>
                            <button (click)="copyPix()" type="button" class="btn btn-outline-success w-100">COPIAR CHAVE PIX</button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="page5">
                    <div class="container">
                        <ng-container *ngIf="confirmacaoConvidado === 'nao'; else confirmado">
                            <div>
                                <h4  class="color-pri color-sec font2">Agora que você sabe todas as informações sobre o nosso casamento, é hora de confirmar presença ♡</h4>
                            </div>
    
                            <div class="imagem">
                                <img src="../../../assets/imgs/border.png" alt="">
                            </div>
    
                            <button (click)="confirmarPresenca()" type="button" class="btn btn-outline-success w-100 m-3 ">
                                CONFIRMAR PRESENÇA
                            </button>

                        </ng-container>

                        <ng-template #confirmado>
                            <div>
                                <h4  class="color-pri font2">Presença confirmada ♡</h4>
                                <p class="color-sec">Falta pouco...</p>
                            </div>
    
                            <div class="imagem2">
                                <img src="../../../assets/imgs/pre-wedding/34.jpg" alt="">
                            </div>

                            <p class="color-pri font1">{{this.cronometro}}</p>

                            <p class="color-sec">Aproveite e olhe as fotos do pré-wedding</p>
                            <p class="color-sec">Arraste pro lado...</p>
                            

                        </ng-template>

                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="page6">
                    <div class="container">
                        <div class="header">
                            <p class="titulo m-0 p-0 color-pri">FOTOS </p>
                            <p class="subtitulo font3 m-0 p-0 color-sec">pre wedding</p>
                        </div>
                        <ng-image-slider class="img-slider" [images]="imgsWeeding" #nav></ng-image-slider>

                        <div class="vers">
                            <p class="font2 color-sec">
                                "Acima de tudo, porém, revistam-se do amor, que é o elo perfeito"
                            </p>
                            <p class="color-pri">COLOSSENSES 3:14</p>
                        </div>
                        
                    </div>
                </div>
            </ng-template>

        </swiper>
    </div>
</div>

